  <div class="c-logo-part"><!--c-logo-part-start-->
    <div class="container">
      <ul class="delay-06s animated  bounce wow">
        <li><a href="javascript:void(0)"><img src="{{ STATIC_URL }}img/c-liogo1.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{ STATIC_URL }}img/c-liogo2.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{ STATIC_URL }}img/c-liogo3.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="{{ STATIC_URL }}img/c-liogo5.png" alt=""></a></li>
      </ul>
    </div>
  </div>