  <section id="work_outer"><!--main-section-start-->
    <div class="top_cont_latest">
      <div class="container">
        <h2>Latest Work</h2>
        <div class="work_section">
          <div class="row">
            <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-doc"></i> </div>
                <div class="service-list-col2">
                  <h3>Process Walkthrough</h3>
                  <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-comment"></i> </div>
                <div class="service-list-col2">
                  <h3>24/7 support</h3>
                  <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-database"></i> </div>
                <div class="service-list-col2">
                  <h3>Hosting & Storage</h3>
                  <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1"> <i class="icon-cog"></i> </div>
                <div class="service-list-col2">
                  <h3>Customization options</h3>
                  <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                </div>
              </div>
              <div class="work_bottom"> <span>Ready to take the plunge?</span> <a href="#contact" class="contact_btn">Contact Us</a> </div>
            </div>
            <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s"> </figure>
          </div>
        </div>
      </div>
    <!--<div class="work_pic"><img src="img/dashboard_pic.png" alt=""></div>-->
    </div>
  </section>